1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
with open('test.txt', 'r') as file:
    test2 = file.read()

if test1 == test2:
    print("same")
else:
    print("Different")
#print(test1,test2)

same

3. Create a CSV file called books.csv by using these lines:

In [9]:
import csv
lines = [['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']]

with open('books.csv', 'w') as file:
    writer = csv.writer(file)
    writer.writerows(lines)

print("books.csv created successfully.")

books.csv created successfully.

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3
conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS books (title TEXT,author TEXT,year INTEGER)')
conn.commit()

5. Read books.csv and insert its data into the book table.

In [4]:
import csv
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('CREATE TABLE IF NOT EXISTS books (title TEXT,author TEXT,year INTEGER)')

with open('books.csv', 'r') as file:
    reader = csv.reader(file, delimiter=",")
    i=0
    for row in reader:
        if(i %2 ==0 and i!=0):
            cursor.execute("INSERT INTO books (title , author , year) VALUES (?,?,?)", (row[0], row[1], row[2]))
            
        i+=1
conn.commit()

In [5]:
#just for checking to see data gets pushed in db or not
cursor.execute("SELECT * FROM books")
rows = cursor.fetchall()
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

6. Select and print the title column from the book table in alphabetical order.

In [7]:
query = "SELECT title FROM books ORDER BY title ASC"
cursor.execute(query)

results = cursor.fetchall()
for row in results:
    print(row[0])

Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!

7. From the book table, select and print all columns in the order of publication.

In [10]:
query = "SELECT * FROM books ORDER BY year ASC"
cursor.execute(query)

results = cursor.fetchall()
for row in results:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [13]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
connection = engine.connect()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [2]:
import redis
r = redis.Redis()
r.hset('test','count',1)
r.hset('test','name','Fester Bestertester')
fields = r.hgetall('test')
for key, value in fields.items():
    print(f'{key.decode()}: {value.decode()}')

count: 1
name: Fester Bestertester

10. Increment the count field of test and print it.

In [3]:
r.hincrby('test','count',1)
count = r.hget('test','count')
print(f"After increment: {count.decode()}")

After increment: 2