1. Write a Python program to find sum of elements in list?

In [1]:
list = [1,2,3,4,5,6,34,23,45,12,89,34]
sum=0
for i in list:
  sum += i
print(sum)

258

2. Write a Python program to Multiply all numbers in the list?

In [4]:
list = [1,2,3,4,5,6,34,23,45,12,89,34]
multi=1
for i in list:
  multi *= i
print(multi)

920029881600

3. Write a Python program to find smallest number in a list?

In [5]:
list = [100,27,13,42,5,61,34,23,45,12,89,34]
min = list[0]
for i in list:
  if i < min:
    min = i
print(min)

5

4. Write a Python program to find largest number in a list?

In [7]:
list = [100,27,13,42,5,61,61,34,23,45,12,89,34]
max = list[0]
for i in list:
  if i > max:
    max = i
print(max)

100

5. Write a Python program to find second largest number in a list?

In [10]:
list = [100,27,13,42,5,61,61,34,23,45,12,89,34]
list.sort()
print(list[len(list)-2])

89

6. Write a Python program to find N largest elements from a list?

In [13]:
list = [100,27,13,42,5,61,61,34,23,45,12,89,34]
N = int(input("Enter Nth required : "))
list.sort()
if N <= len(list):
  print(list[len(list)-N])

Enter Nth required : 5
45

7. Write a Python program to print even numbers in a list?

In [15]:
list = [1,2,3,4,5,6,34,23,45,12,89,34]
for i in list:
  if i % 2 == 0:
    print(i,end = " ")

2 4 6 34 12 34

8. Write a Python program to print odd numbers in a List?

In [16]:
list = [1,2,3,4,5,6,34,23,45,12,89,34]
for i in list:
  if i % 2 != 0:
    print(i,end = " ")

1 3 5 23 45 89

9. Write a Python program to Remove empty List from List?

In [19]:
list = [1,2,[],3,4,[],5,6,34,[],23,45,12,[],89,34]
print("before Removng empty list from list")
print(list)
for i in list:
  if i == []:
    list.remove(i)
print("After Removng empty list from list")
print(list)

before Removng empty list from list
[1, 2, [], 3, 4, [], 5, 6, 34, [], 23, 45, 12, [], 89, 34]
After Removng empty list from list
[1, 2, 3, 4, 5, 6, 34, 23, 45, 12, 89, 34]

10. Write a Python program to Cloning or Copying a list?

In [20]:
list = [1, 2, 3, 4, 5, 6, 34, 23, 45, 12, 89, 34]
cloned_list = list
copied_list = list.copy()
print(cloned_list)
print(copied_list)

[1, 2, 3, 4, 5, 6, 34, 23, 45, 12, 89, 34]
[1, 2, 3, 4, 5, 6, 34, 23, 45, 12, 89, 34]

11. Write a Python program to Count occurrences of an element in a list?

In [21]:
list = [1,22, 21, 31, 42, 5, 6,31, 34, 23, 45, 12, 21,89,42, 34]
N = int(input("Enter number whose occurences you want to check : "))
count = 0
for i in list:
  if i == N:
    count += 1
print(count)

Enter number whose occurences you want to check : 21
2