1. Write a Python program to Extract Unique values dictionary values?

In [ ]:
moons = {"Mercury": 0, "Venus": 0, "Earth": 1, "Mars": 2,"Jupiter": 79, "Saturn": 82, "Uranus": 27, "Neptune": 14}
present = set()
for i in moons.values():
  count = 0
  for j in moons.values():
    if i == j :
      count +=1
  if count == 1:
    present.add(i)
print(present)

{1, 2, 14, 79, 82, 27}

2. Write a Python program to find the sum of all items in a dictionary?

In [ ]:
moons = {"Mercury": 0, "Venus": 0, "Earth": 1, "Mars": 2,"Jupiter": 79, "Saturn": 82, "Uranus": 27, "Neptune": 14}
sum =0
for i in moons.values():
  sum += i
print(sum)

205

3. Write a Python program to Merging two Dictionaries?

In [ ]:
moons = {"Mercury": 0,"Venus": 0,"Earth": 1,"Mars": 2, "Jupiter": 79, "Saturn": 82, "Uranus": 27, "Neptune": 14}
dwarfs = {"Pluto": 5,  "Eris": 1}
moons.update(dwarfs)
print(moons)

{'Mercury': 0, 'Venus': 0, 'Earth': 1, 'Mars': 2, 'Jupiter': 79, 'Saturn': 82, 'Uranus': 27, 'Neptune': 14, 'Pluto': 5, 'Eris': 1}

4. Write a Python program to convert key-values list to flat dictionary?

In [24]:
import pprint
planets = {
    'Earth': {'distance_from_sun': '149.6 million km', 'diameter': '12,742 km', 'moons': 1, 'orbital_period': '365.25 days'},
    'Mars': {'distance_from_sun': '227.9 million km', 'diameter': '6,779 km', 'moons': 2, 'orbital_period': '687 days'}
}

dict1 = {}
for key,value in planets.items():
  if type(value) == dict:
    for keys,values in value.items():
      new_key = str(key)+" "+str(keys)
      dict1[new_key] = values
  else:
    dict1[key] = value

pprint.pprint(dict1)

{'Earth diameter': '12,742 km',
 'Earth distance_from_sun': '149.6 million km',
 'Earth moons': 1,
 'Earth orbital_period': '365.25 days',
 'Mars diameter': '6,779 km',
 'Mars distance_from_sun': '227.9 million km',
 'Mars moons': 2,
 'Mars orbital_period': '687 days'}

5. Write a Python program to insertion at the beginning in OrderedDict?

In [3]:
from collections import OrderedDict

dict_1 = OrderedDict({'akshat': 1 , 'nikhil':2})
dict_1.update({'manjeet':'3'})
dict_1.move_to_end('manjeet', last = False)

print(dict_1)

OrderedDict([('manjeet', '3'), ('akshat', 1), ('nikhil', 2)])

6. Write a Python program to check order of character in string using OrderedDict()?

In [15]:
from collections import OrderedDict

def checkOrder(string, sample_str):
    dict_1 = OrderedDict.fromkeys(string)
    #print(dict)
    ptr = 0
    for key, value in dict_1.items():
        if (key == sample_str[ptr]):
            ptr = ptr + 1

        if (ptr == (len(sample_str))):
            return True

    return False

print(checkOrder('Ineuron intelligence', 'In'))

True

7. Write a Python program to sort Python Dictionaries by Key or Value?

In [1]:
dict_1 = {"Mercury": 0,"Venus": 0,"Earth": 1,"Mars": 2, "Jupiter": 79, "Saturn": 82, "Uranus": 27, "Neptune": 14}
sorted_dict = dict(sorted(dict_1.items()))
print(sorted_dict)

{'Earth': 1, 'Jupiter': 79, 'Mars': 2, 'Mercury': 0, 'Neptune': 14, 'Saturn': 82, 'Uranus': 27, 'Venus': 0}