Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [7]:
def is_symetrical(num_1):
  num = list(str(num_1))
  i=0
  while i < len(num)/2:
    if num[i] != num[(len(num)-1)-i]:
      return False
    i += 1
  return True
n = int(input())
print(is_symetrical(n))

7227
True

Question 2

Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [10]:
def multiply_nums(string):
  list_1 = string.split(",")
  product =1
  for i in list_1:
    product *= int(i)
  return product

print(multiply_nums("54, 75, 453, 0"))

0

Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [13]:
def square_digits(num):
  string = str(num)
  res = []
  for i in string:
    res.append(str(int(i)**2))
  num = "".join(res)
  return num

print(square_digits(9119))

811181

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [14]:
def setify(lst):
  list_1 = set(lst)
  return list(list_1)

print(setify([1,3,3,5,5]))

[1, 3, 5]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in

512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [22]:
def mean(num):
  string = str(num)
  product = 1
  for i in string:
    product += int(i)
  mean = product / len(string)
  return int(mean)

n = int(input())
print(mean(n))

12345
3